.smart-neo-client-history-container {
  flex: 0.75;
  overflow: auto;
}

.smart-neo-client-history-user-message {
  align-self: flex-end;
  margin-left: 20%;
  color: var(--N500);
}

.smart-neo-client-history-assistant-message {
  margin-right: 20%;
}
